# Selection of a company

In [52]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [53]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [54]:
client.*list*?

In [55]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local']

In [56]:
db = client.get_database("Ironhack")

In [57]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack')

In [58]:
db.list_collection_names()

['starbucks', 'companies', 'nightclubs', 'airport', 'hairdresser', 'nursery']

In [59]:
collection = db.get_collection("companies")

In [60]:
proj = {"_id": 0, "name":1, "offices":1}

In [61]:
list((collection.find({"offices.country_code": "USA"}, proj)).limit(10))

[{'name': 'Wetpaint',
  'offices': [{'description': '',
    'address1': '710 - 2nd Avenue',
    'address2': 'Suite 1100',
    'zip_code': '98104',
    'city': 'Seattle',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': 47.603122,
    'longitude': -122.333253},
   {'description': '',
    'address1': '270 Lafayette Street',
    'address2': 'Suite 505',
    'zip_code': '10012',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.7237306,
    'longitude': -73.9964312}]},
 {'name': 'AdventNet',
  'offices': [{'description': 'Headquarters',
    'address1': '4900 Hopyard Rd.',
    'address2': 'Suite 310',
    'zip_code': '94588',
    'city': 'Pleasanton',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.692934,
    'longitude': -121.904945}]},
 {'name': 'Zoho',
  'offices': [{'description': 'Headquarters',
    'address1': '4900 Hopyard Rd',
    'address2': 'Suite 310',
    'zip_code': '94588',
    'city': 'Pleasanton',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.692934,
    'longitude': -121.904945}]},
 {'name': 'Digg',
  'offices': [{'description': None,
    'address1': '135 Mississippi St',
    'address2': '',
    'zip_code': '94107',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.764726,
    'longitude': -122.394523}]},
 {'name': 'Facebook',
  'offices': [{'description': 'Headquarters',
    'address1': '1601 Willow Road',
    'address2': '',
    'zip_code': '94025',
    'city': 'Menlo Park',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.41605,
    'longitude': -122.151801},
   {'description': 'Europe HQ',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'Dublin',
    'state_code': None,
    'country_code': 'IRL',
    'latitude': 53.344104,
    'longitude': -6.267494},
   {'description': 'New York',
    'address1': '340 Madison Ave',
    'address2': '',
    'zip_code': '10017',
    'city': 'New York',
    'state_code': 'NY',
    'country_code': 'USA',
    'latitude': 40.7557162,
    'longitude': -73.9792469}]},
 {'name': 'Postini',
  'offices': [{'description': None,
    'address1': '959 Skyway Road, Suite 200',
    'address2': None,
    'zip_code': '94070',
    'city': 'San Carlos',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.506885,
    'longitude': -122.247573}]},
 {'name': 'Geni',
  'offices': [{'description': 'Headquarters',
    'address1': '9229 W. Sunset Blvd.',
    'address2': '',
    'zip_code': '90069',
    'city': 'West Hollywood',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.090368,
    'longitude': -118.393064}]},
 {'name': 'Flektor',
  'offices': [{'description': None,
    'address1': '8536 National Blvd, Suite A',
    'address2': None,
    'zip_code': '90232',
    'city': 'Culver City',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.025958,
    'longitude': -118.379768}]},
 {'name': 'Fox Interactive Media',
  'offices': [{'description': '',
    'address1': '407 N Maple Dr',
    'address2': '',
    'zip_code': '90210',
    'city': 'Beverly Hills',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 34.076179,
    'longitude': -118.39417}]},
 {'name': 'Twitter',
  'offices': [{'description': '',
    'address1': '1355 Market St.',
    'address2': '',
    'zip_code': '94103',
    'city': 'San Francisco',
    'state_code': 'CA',
    'country_code': 'USA',
    'latitude': 37.7768052,
    'longitude': -122.4169244}]}]

In [67]:
filtro =   {'$and':[
        {'offices.country_code': {'$eq': "USA"}},
        {'offices.city': {'$eq': 'New York'}},
        {'founded_year': {'$gte': 2000}},
        {'name': {'$ne': None}},
        {'offices.latitude': {'$ne': None}},
        {'offices.longitude': {'$ne': None}},
        {'number_of_employees':{'$gt': 10, '$lt': 500}},
        {'category_code':{'$eq':"games_video"}},
        ]}
proyecto =  {'_id': 0, 'name' : 1, 'category_code' : 1, 'number_of_employees' : 1,
     'founded_year' : 1, 'offices.country_code': 1, 'offices.city': 1, 'offices.latitude' : 1, 'offices.longitude' : 1 }

result = db["companies"].find(filtro, proyecto)

In [68]:
data = json_normalize(data =result, record_path = 'offices', meta = ['name', 'category_code', 'number_of_employees', 'founded_year'])
data

<ipython-input-68-36361e7fe869>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = json_normalize(data =result, record_path = 'offices', meta = ['name', 'category_code', 'number_of_employees', 'founded_year'])

,city,country_code,latitude,longitude,name,category_code,number_of_employees,founded_year
0,New York,USA,40.726155,-73.995625,Livestream,games_video,120,2007
1,New York,USA,40.722655,-73.998730,Pando Networks,games_video,23,2004
2,New York,USA,37.090240,-95.712891,SpiralFrog,games_video,15,2004
3,New York,USA,40.717248,-74.002662,Boonty,games_video,150,2001
4,New York,USA,40.739930,-73.993049,Cellufun,games_video,30,2005
5,New York,USA,40.752672,-73.975930,Major League Gaming,games_video,45,2002
6,New York,USA,40.743877,-73.986180,Saavn,games_video,25,2006
7,New York,USA,40.743877,-73.986180,[212]Media,games_video,75,2004
8,New York,USA,40.756054,-73.986951,Yoostar,games_video,40,2007
9,Los Angeles,USA,34.052187,-118.243425,Yoostar,games_video,40,2007
10,New York,USA,40.756054,-73.986951,GameGround,games_video,25,2007

In [64]:
data.to_csv("comps.csv", index=0)